/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.storename .address a p{
	margin: 0px!important;
}
header#djcustom-header{
	position: absolute;
    z-index: 99;
    top: 45px;
    left: 0;
    right: 0;
}
.FlooringBrands .slick-track{
    display: flex;
    align-items: center;
}
.topBar .uabb-text-editor > p{
	padding: 0px!important;
	margin: 0px!important; 
}
.topBar a.uabb-btn{
	padding: 6px 16px!important;
}
.custom_searchHeader .fl-icon:hover{
	cursor: pointer!important;
}
.gform_wrapper .gfield_time_hour i {
    margin-top: 0px!important;
}
.address-num a:hover{
	color: #1a97c2!important;
}
.gform_wrapper .top_label input.medium.datepicker{
	max-width: 100%!important;
}
.homeSlider .fl-slide.fl-slide-0 .fl-slide-photo{
		margin-top: 200px!important;
	}	 
.gform_wrapper .gfield .ginput_container select{
		padding-left: 8px!important;
	    padding-right: 8px!important;
}
.topBar .storename, .topBar p{
	margin-bottom: 0px!important;
}
.topBar .storename .phone a > span:before{
	content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    font-size: 19px!important;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;	
}
.fixed-header-top-bar .fl-row-content-wrap,
.fixed-header .fl-row-content-wrap{
	background: transparent !important;
}
.sticky-header{
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: all 0.3s;
}
.row .fl-post-image-beside{
	display: block;
    width: 100%;
}

#breadcrumbs > .container{
	width: 100%;
	max-width: 1100px!important;
}
.social-icons a:hover i{
	color: #000!important;
}
#responsive-menu-additional-content .storename li a{
    color: #fff!important;
}
.privacy-policy .phone-paragraph{
    display: inline-block;
}
.privacy-policy .storename{
    display: inline-block;
    margin-left: 10px;
}

form .timeEstimate .ginput_container_time input{
	padding-left: 20px!important;
    padding-right: 0px!important;
}
.number-cde a{
	font-weight: bold!important;
}
.number-cde a:hover span{
	color: #1a97c2!important;
}
.top-heading h3{
	text-align: center;
}
.top-heading h3 .first-heading-text {
    color: #2fb3be;
    margin-right: 8px;
}
@media(min-width: 1024px){

/* .fl-page-content .container .row > .col-lg-8, .fl-page-content .container .row > .col-md-8, .fl-page-content .container .row > .col-md-4, .fl-page-content .container .row > .col-md-8{
	padding-top: 140px!important;
} */
	
  .sticky-header.sticky-header-active {
    height: auto !important;
      overflow: visible !important;
      width: 100% !important;
    }

}
.searchIcon {
    /*position: absolute;*/
    right: 10px;
    top: 25px;
}
.searchIcon .fl-icon-wrap{
    cursor: pointer;
}

.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    background: #c9c1b4;
}

.headerMain .fl-col-group {
    display: flex;
    justify-content: space-between;
}
#menu-newnav li ul.storename li .phone a{
    font-size: 14px;
    color: #3288c1;
}
#menu-newnav li ul.storename li .phone a:hover{
    color: #000;
}

.fullWidthBanner img {
    width: 100%;
}
.fl-node-5c75183d2d713 .fl-slide-1 .fl-slide-content{
    margin-top: 0px;
}
.phone>a {
    font-weight: 400;
    color: #68bfd8;
}

.iscwp-gallery-slider .slick-dots li button {
    border: 1px solid #949494;
}

.iscwp-gallery-slider .slick-dots li.slick-active button {
    background: #949494;
}
.fl-node-5c75183d2d713 .fl-slide-2 .fl-slide-content-wrap{
    width: 100%!important;
}
.fl-node-5c75183d2d713 .fl-slide-2 .fl-slide-text{
    font-size: 25px;
}
.fl-node-5c75183d2d713 .fl-slide-2 .fl-slide-content{
    padding-top: 180px;
}
.fl-slide-2 .fl-slide-content-wrap .fl-slide-text{
    background: rgba(0,0,0,0.40);
    color: #fff!important;
    padding: 10px;
}
.fl-slide-2 .fl-slide-content-wrap .fl-slide-text p{
    color: #fff!important;
}
.fl-node-5c75183d2d713 .fl-slide-3 .fl-slide-text *{
    color: #000!important;
}
.fl-node-5c75183d2d713 .fl-slide-3 .fl-slide-text .fl-button span{
    color: #fff!important;
}
.fl-node-5c75183d2d713 .fl-slide-4 .fl-slide-photo-wrap .fl-slide-photo{
    margin-bottom: 0px!important;
}
.fl-node-5c75183d2d713 .fl-slide-foreground{
        display: flex;
    flex-direction: column-reverse;
}

.fl-theme-builder-header-shrink .custom_searchModule .fl-module-content {
	padding: 20px 0px!important;
}

.moove-gdpr-button-holder .mgbutton {
	background-color: #3D9BB3!important;	
}
.moove-gdpr-button-holder .mgbutton:hover {
	color: #000!important;	
}
.style-product_list .pro-container .pro-details .button-wrapper{
	justify-content: center;
}
.style-product_list .pro-container .pro-details .button-wrapper a:first-child{
	display: none;
}
/* .product-box > .row > .col-md-6 > h1{
	font-size: 30px!important;
} */
.search-row{
	/*padding-top: 180px!important;*/
	padding-left: 20px!important;
	padding-right: 20px!important;
}
.search-row .plp-view-product{
	color: #fff!important;
    background-color: #2e9bb4!important;
    font-family: "Montserrat",sans-serif!important;
    display: block!important;
	padding: 12px 24px!important;
}
.gfield_time_ampm > select{
	    max-width: 60px!important;
}
.gform_wrapper .gfield_time_ampm select {
    min-width: 80px!important;
    width: 80px!important;
}

.container .row .product-detail-layout-6 .product-variations img{

}
@media(min-width: 1024.5px) {
.headerMenu .uabb-menu-toggle{
	display: none!important;
}
}
@media(min-width:768px) {
.product-detail-layout-6 .product-box h1{
	font-size: 16px;
}
.container .row .product-detail-layout-6 .product-variations a{
	/*display: flex;
    height: 100%;
    min-height: 99px;
    align-items: center;
    justify-content: center;*/
}
/* .container .row .product-detail-layout-6 .product-swatch{
	max-width: 100%;
	width: 100%;
}
.container .row .product-detail-layout-6 .product-box{
	width: 100%;
	max-width: 100%;
} */
.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
    padding: 5px 20px;
	max-width: 600px!important;
	width: 100%!important;
}

}
@media(max-width:1024px) {
    .style-product_list .pro-container .pro-details .button-wrapper a.button{
        min-width: auto!important;
    }
    .fl-sidebar{
        display: block!important;
        padding-left: 40px;
    }
    .fl-node-5ff5de66415ac .uabb-creative-menu .menu > li > a{
        font-size: 13px;
    }
    .topBar *{
        font-size: 14px!important;
    }	

        .fl-node-5c75183d2d713 .fl-slide-2 .fl-slide-text{
        font-size: 15px;
    }
    .fl-node-5d08ac826d1d6 .uabb-creative-menu .menu>li {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .headerMain .headerRightNav {
        margin-left: 30px;
    }

    .fl-node-5d08ac826d1d6 .uabb-creative-menu.uabb-menu-default .menu>li>.uabb-has-submenu-container>a {
        padding: 10px 8px !important;
    }

}
@media (max-width: 991px){
    .style-list .back-button {
        z-index: 15 !important;
    }
    .fl-sidebar{
        display: none!important;
    }
    .FloorteProductSlider .arrow.slick-next.slick-arrow{
    right: -15px!important;
}
.FloorteProductSlider .arrow.slick-prev.slick-arrow{
    left: -15px!important;
}
}
@media(max-width:768px) {
	header .logo-image .uabb-photo-content a img.uabb-photo-img {
		max-height: 80px;
	}

	.homeSlider .fl-slide.fl-slide-0 .fl-slide-mobile-photo{
		margin-top: 100px!important;
	}	 
	.homeSlider .fl-slide.fl-slide-1 .fl-slide-content{
		padding: 0px!important;
	}
	.featured-products .featured-product-list .featured-product-item{
		width: 50%;
	}

.uabb-creative-menu.off-canvas ul.menu > li > a, .uabb-creative-menu.off-canvas ul.menu > li > div >a{
		text-align: left!important;	
}

.uabb-creative-menu.off-canvas ul.menu > li > .sub-menu a{
		text-align: left!important;	
}

	.store-opening-hrs{
	margin-right: 180px!important;	
}
	.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
    padding: 5px 20px;
	max-width: 100%!important;
	width: 100%!important;	
}
    .searchIcon {
        position: static;
    }

    button#responsive-menu-button {
        top: 63px !important;
    }

    .headerMain .fl-col-group {
        display: flex;
        align-items: center;
    }

    .headerMain .headerRightNav {
        margin: 0;
    }

    .headerMain .headerLogo {
        flex: 2;
    }

    .headerMain .phone.retailer {
        font-size: 26px;
        color: #42291d;
        margin-right: 30px;
        vertical-align: middle;
        font-family: 'Ultimate-Icons' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .headerMain .phone.retailer:before {

        content: "\ea3e";

    }
    .headerMain .phone.retailer span{
        font-size: 0;
    }

    .iPadFooter .fl-col-group {
        display: flex;
    }

    .iPadFooter .fl-col-group .fl-col {
        flex: 1;
    }

    ul#menu-copyright-bar-menu {
        display: flex;
    }

    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col {
        flex: 3;
    }

    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col:nth-child(2) {
        flex: 1;
    }
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 33.33%;
    }
    
    .galleryImages .uabb-photo-gallery {
        display: flex;
        flex-wrap: wrap;
    }
    .gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
        margin-top: 2px !important;
    }
    .gform_wrapper.gf_browser_safari .gfield_checkbox li input, .gform_wrapper.gf_browser_safari .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_safari .gfield_radio li input[type=radio] {
        margin-top: 0px !important;
    }
}

@media(max-width:767px) {
		.store-opening-hrs{
	margin-right: 0px!important;	
}
    .highlightPoits .fl-col-group .fl-col {
        width: 100% !important;
    }
    .highlightPoits .fl-col-group .fl-col .fl-col-content {
        border: 0;
    }
    .headerRightNav .fl-node-5d230a5e00677 .fl-rich-text >p{
        margin-bottom: 0 ;
    }
    
}
@media(min-width:480px) {
    .gfield {
        padding-right: 15px!important;	
    }
}
@media(max-width:480px) {  
	.featured-products .featured-product-list .featured-product-item{
		width:100%;
	}
    button#responsive-menu-button{
        top: 83px!important;
    }
    .logo-image .uabb-photo-content a img{
        max-width: 200px;
    }

	.gform_wrapper .gfield_checkbox li input, .gform_wrapper .gfield_checkbox li input[type=checkbox]{
	 vertical-align: top!important;
}
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 100%;
    }
    .location-top .fl-button{
        text-align: unset;
    }
    .fl-node-5d1f5d4b47fe6 div.uabb-image-carousel .slick-next{
        right: 20px;
    }
    .fl-node-5d1f5d4b47fe6 [dir='rtl'] div.uabb-image-carousel .slick-prev{
        left: 20px;
    }
    .iPadFooter .fl-col-group{
        flex-direction: column;
    }
    .iPadFooter .fl-col-group .fl-col{
        flex: 2;
        width: 100% !important;
        text-align: center;
    }
    ul#menu-copyright-bar-menu{
        justify-content: center;
    }
}